/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import "~bootstrap/dist/css/bootstrap.min.css";

html, body {
    height: 100%;
}

body {
    font-family: 'PT Sans', sans-serif !important;
    background-attachment: fixed;
    background-image: url('./assets/spices.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-margin-before: 0px;
    -webkit-margin-end: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    color: rgb(255, 255, 255);
}